
html{
	scroll-behavior: smooth;
}



body{
	font-family: 'Montserrat', sans-serif;
	
}

h2{
	font-family: "Montserrat";
	font-size: 2.5rem;
	line-height: 1.5;
}


h1{
	
	font-size: 2.7rem;
	line-height: 1.5;
	align-content: center;
}

h3{
	font-family: "Montserrat";
}

p{
	color: #8f8f8f;
}



#title{
	background-color: #101418;
	color: #fff;
	
}


.container-fluid{
	padding: 3% 10% 3%;
}
.navbar{
	padding:0 0 4.5rem;
	
}

.navbar-brand{
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
	
}

.nav-item{
	padding: 0 18px;
}

.nav-link{
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.download-button{
	
	margin: 8% 0% 2% 3%;
	padding-left: 2%;
	padding-right: 2%;
}



.title-image {
  	margin-left: 10%;
	width: 70%;
}

#features{
	padding: 5% 10%;
	background-color: #EDF3FF;
	
	
	
}

.feature-box{
	text-align: center;
	padding: 5%;
}
.icon1{
	color: #FEEE36;
	margin-bottom: 1rem;
}
.icon1:hover{
	color:#FEB818;
}


.icon2{
	color:#F0913D;
	margin-bottom: 1rem;
}

.icon2:hover{
	color: #E91E33;
}

.icon3{
	color: #61E000;
	margin-bottom: 1rem;
}
.icon3:hover{
	color:#00B538;
}



#testimonials{
	
	text-align: center;
	background-color: #175A9E;
	color: #fff;
}



.testimonial-image{
	
	width: 18%;
	border-radius: 100%;
	margin: 20px;
	
	
}

#press{
	background-color: #175A9E;
	text-align: center;
	padding-bottom: 3%;
}

.press-logo{
	width: 15%;
	margin: 20px 20px 50px;
}


.carousel-item{
	padding: 3% 15%;
}

#projects{
	padding: 100px;
	text-align: center; 
	background-color: #F3F7FF;
}

.projects-column{
	
	padding: 3% 2%;
}

.card{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
	
}
.card:hover{
	box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
	background-color: #7F99B7;
	color: #fff;
}

#cta{
	background-color: #101418;
	color: #fff;
	padding: 7% 15%;
	text-align: center;
}
.cta-heading{
	font-family: "Montserrat";
	font-size: 2.2rem;
	line-height: 1.5;
	
	
}

#footer{
	padding: 3% 15%;
	text-align: center;
}

.social-icon{
	margin: 20px 10px;
}


@media (max-width:1028px){
	#title{
		text-align: center;
	}
	
	.title-image{
		position: static;
		
	}
	
	h1 h2 h3 p{
		font-size: 130%;
	}
	
	#cta{
		padding: 7% 0%;
	}
	
}

.hd{
	
	margin-top: 10%;
}











